<div class="book-details-container" *ngIf="book">
    <h2>{{book.title}} Details</h2>
    <div class="form-group">
        <label for="bookID">BookID:</label>
        <p id="bookID">{{book.bookID}}</p>
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <p id="author">{{book.author}}</p>
    </div>
    <div class="form-group">
        <label for="yearOfRelease">Release Year:</label>
        <p id="yearOfRelease">{{book.yearOfRelease}}</p>
    </div>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <p id="genre">{{book.genre}}</p>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <p id="description">{{book.description}}</p>
    </div>
    <div class="form-group">
        <label for="isAvaliable">Available:</label>
        <p id="isAvaliable">{{book.isAvaliable}}</p>
    </div>
    <a [routerLink]="['/books']" class="btn btn-secondary">Return to Main Page</a>
</div>