<p>book-details works!</p>
<div *ngIf="book">
    <h2>{{book.title}} Details</h2>
    <p><strong>BookID: </strong>{{book.bookID}}</p>
    <p><strong>Author: </strong>{{book.author}}</p>
    <p><strong>Release Year: </strong>{{book.yearOfRelease}}</p>
    <p><strong>Genre: </strong>{{book.genre}}</p>
    <p><strong>Description: </strong>{{book.description}}</p>
    <p><strong>Available: </strong>{{book.isAvaliable}}</p>

    <a [routerLink]="['/books']" class="btn btn-secondary">Back to List</a>
</div>